.bg {
    position: absolute;
    width: 100vw;
    height: 100vh;
    opacity: 10%;
}
body {
    all: unset;
    background-color: black;
    height: 100vh;
    display: block;
    margin: auto;
}
.content {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
#gameBoard {
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    background-color: black;
    z-index: 9;
}
#gameBoard >* {
    border-radius: 8%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) -10%, rgba(255, 255, 255, 0) 10%),
    linear-gradient(to top, rgba(255, 255, 255, 1)-10%, rgba(255, 255, 255, 0)10%),
    linear-gradient(to right, rgba(255, 255, 255, 1)-10%, rgba(255, 255, 255, 0)10%),
    linear-gradient(to left, rgba(255, 255, 255, 1)-10%, rgba(255, 255, 255, 0)10%);
}
.header {
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 6rem;
    margin: 0;
}
#status {
    /* color: rgb(243, 92, 16); */
    color: rgb(48, 154, 247);
    font-family: Arial, sans-serif;
    font-size: 2rem;
    margin: 0;
    margin-top: 1rem;
    text-align: center;
}
.square {
    display: flex;
}
.square >* {
    width: 75%;
    margin: auto;
}